<!DOCTYPE html>
<html lang="en">

<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <meta http-equiv="X-UA-Compatible" content="ie=edge">
 <title>Calibration</title>
</head>
<body  style="margin: 0px; overflow: hidden; background-color: #000000">
    <table width="100%">
        <tr>
         <td width="100"></td>
         <td align="center"><img src="images/formula.png" width="289" height="158" 
           alt="Формула 18.6"></td>
         <td width="100" align="right">(18.6)</td>
        </tr>
       </table> 
    
    <p align="center"><font color="green" size="20" face="serif" >3</font></p>
    <p align="left"><font color="green" size="20" face="serif">1</font></p>
    
    <p align="right"><font color="green" size="20" face="serif">2</font></p>
    <p align="center"><font color="green" size="20" face="serif">4</font></p>
 
</body>
</html>