<!DOCTYPE html>
<html lang="en">

<style>
    div {
        background-image: url(img/scene.png);
    
        background-repeat: no-repeat;
        
        background-position: center center;
        
        background-attachment: fixed;
        
        -webkit-background-size: cover;
        
        -moz-background-size: cover;
        
        -o-background-size: cover;
        
        background-size: cover;
    }
</style>

<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <meta http-equiv="X-UA-Compatible" content="ie=edge">
 <title>Coordinates (or not)</title>
</head>
<body  style="margin: 0px; overflow: hidden;">
    
 <canvas id="canvas" style="image-rendering: pixelated; margin: 0px;"></canvas>
 <script src="js/responce.js"></script>
</body>
</html>